.AccountProfile {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.AccountProfileIcon {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #f9f9f9; /* Optional background color */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px; /* Optional rounded corners */
    cursor: pointer;
    font-size: 16px; /* Adjust font size if needed */
    color: #333; /* Text color */
    margin-top: 10px;
}

.AccountProfileIcon span {
    display: flex;
    align-items: center; /* Center icon and text vertically */
    gap: 8px; /* Space between icon and text */
}

.AccountProfileIcon svg {
    width: 16px; /* Adjust icon size if needed */
    height: 16px;
    font-weight: bold;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
}

.profile-image {
    width: 40px;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.profile-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 100;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-info {
    margin-left: 10px;
}

.profile-name {
    font-weight: bold;
    font-size: 16px;
    font-family: system-ui;
}

.profile-username {
    color: #555;
    font-size: 14px;
}

.manage-account, .sign-out {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.sign-out {
    background-color: #f9f9f9;
}

.add-account {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-account span {
    font-size: 20px;
    margin-right: 5px;
}

.footer {
    margin-top: 16px;
    font-size: 12px;
    color: #888;
    text-align: center;
}

.clerk {
    color: #555;
    font-weight: bold;
}
